/**
 * @file
 * Subtheme specific CSS.
 */
body {
  background: #f9f9f9 !important;
  position: relative !important;
  transition: 0.5s;
}
a {
  color: var(--bs-blue);
  text-decoration: none;
}
.card-img-top {
  width: 100%;
  height: 191px;
  object-fit: contain;
}
.category-banner {
  max-height: 666px;
}

.header-top {
  padding: 2px 0 0;
}
.nav-link {
  color: #232426;
  padding-left: 16px !important;
  padding-right: 16px !important;
}
.icon-start {
  margin-right: 17px;
}
.btn-clear {
  padding: 0;
  display: flex;
  justify-content: end;
  align-items: center;
}
.navbar-nav li:first-child .nav-link {
  padding-left: 0 !important;
}
.carousel-control-next,
.carousel-control-prev {
  width: 2%;
}
.section {
  margin-top: 38px;
}
.title-section {
  margin-bottom: 18px;
}
.prod-readmore {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  margin-left: 32px;
}
.card {
  border-width: 0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.card-body {
  padding: 12px 8px 24px;
}

.section h3 {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin: 0;
}
.card-body .points {
  color: #0d6efd;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  margin-bottom: 16px;
}
.card-body .name {
  color: #232426;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
#category-products .category-banner h4 {
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin-bottom: 16px;
}
#category-products .category-banner p {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
#category-products .default-card {
  margin-bottom: 24px;
}
/*---Carousel Multiple Items---*/
#carouselProducts {
  padding: 0;
}
.custom-item {
  padding: 5px 10px;
}
#carouselBanner .carousel-control-prev {
  left: 0;
}
#carouselBanner .carousel-control-next {
  right: 0;
}
#carouselBanner .carousel-control-next,
#carouselBanner .carousel-control-prev {
  border-radius: 0;
  box-shadow: none;
}
.custom-carousel .carousel-control-next,
.custom-carousel .carousel-control-prev {
  background: #f9f9f9;
  opacity: 1;
  width: 32px;
  height: 64px;
  top: 38%;
}
.carousel-control-next {
  border-radius: 4px 0 0 4px;
  box-shadow: -3px 1px 3px 0px rgb(0 0 0 / 15%);
}
.carousel-control-prev {
  left: 5px;
  border-radius: 0px 4px 4px 0px;
  box-shadow: 3px 1px 3px 0px rgb(0 0 0 / 15%);
}
@media (max-width: 767px) {
  .custom-carousel .carousel-inner .carousel-item > div {
    display: none;
  }
  .custom-carousel .carousel-inner .carousel-item > div:first-child {
    display: block;
  }
}

.custom-carousel .carousel-inner .carousel-item.active,
.custom-carousel .carousel-inner .carousel-item-next,
.custom-carousel .carousel-inner .carousel-item-prev {
  display: flex;
  justify-content: space-between;
}

/* medium and up screens */
@media (min-width: 768px) {
  .carousel-6 .carousel-inner .carousel-item-end.active,
  .carousel-6 .carousel-inner .carousel-item-next {
    transform: translateX(16.66667%);
  }
  .carousel-6 .carousel-inner .carousel-item-start.active,
  .carousel-6 .carousel-inner .carousel-item-prev {
    transform: translateX(-16.66667%);
  }

  .carousel-4 .carousel-inner .carousel-item-end.active,
  .carousel-4 .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  .carousel-4 .carousel-inner .carousel-item-start.active,
  .carousel-4 .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }

  .carousel-3 .carousel-inner .carousel-item-end.active,
  .carousel-3 .carousel-inner .carousel-item-next {
    transform: translateX(33.3333%);
  }
  .carousel-3 .carousel-inner .carousel-item-start.active,
  .carousel-3 .carousel-inner .carousel-item-prev {
    transform: translateX(-33.3333%);
  }
}

.carousel-6 .carousel-inner .carousel-item-end,
.carousel-6 .carousel-inner .carousel-item-start,
.carousel-4 .carousel-inner .carousel-item-end,
.carousel-4 .carousel-inner .carousel-item-start,
.carousel-3 .carousel-inner .carousel-item-end,
.carousel-3 .carousel-inner .carousel-item-start {
  transform: translateX(0);
}

/*---End Carousel Multiple Items---*/

#all-categories .card .wrapp-image {
  padding: 0 15px 20px;
}
#all-categories .card .name {
  color: #0d6efd;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-decoration: none;
}
.block-menu-footer p {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  margin-bottom: 12px;
}
.block-menu-footer ul {
  padding-left: 12px;
  list-style: none;
}
.block-menu-footer ul li a {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-decoration: none;
}
footer {
  margin-top: 40px;
}
footer .secondary-menu {
  padding: 40px 0 12px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #dee1e5;
  margin: 5px 0;
}
footer .menu-footer .content-item {
  margin: 0 20px;
}
footer .menu-footer .content-item a {
  color: #232426;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-decoration: none;
}
footer .copyright {
  text-align: center;
  color: #232426;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin-bottom: 12px;
}
/* --- sidebar menu --- */
.offcanvas.offcanvas-start,
.offcanvas.offcanvas-end {
  border: none;
}
.sidebar {
  background-color: transparent;
}
.content-l-navbar {
  padding: 12px 15px;
}
.content-l-navbar,
.content-r-navbar {
  background-color: #fff;
  height: 100%;
  width: 365px;

  min-height: 100vh;
}

.show-left {
  left: 0;
}
.show-right {
  right: 0;
}
#cover {
  display: none;
  background-color: #222222;
  opacity: 0.3;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
}
#cover.active {
  display: block;
}
.navbar-btn-close {
  padding: 12px 0 0 0;
}
.navbar-btn-close .btn {
  padding: 0 !important;
}
.navbar-btn-close .btn:hover {
  border: none;
}
.content-login {
  margin-bottom: 40px;
}
.nav-group p {
  font-size: 18px;
  color: #8a9197;
  margin-bottom: 35px;
}
.nav-group ul {
  padding: 0;
  list-style: none;
}
.nav-group ul li {
  margin-bottom: 40px;
}
.nav-group ul li a {
  color: #232426;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.item-nav-group {
  padding-left: 10px;
}
/* --- end sidebar menu --- */

/* --- custom input --- */
input:invalid,
textarea:invalid {
  background: #eff0f2;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #bdc4ca;
}
input.verified,
textarea.verified {
  border: 1px solid #198754;
}
input,
textarea {
  background: #ffffff;
  color: #232426;
  font-size: 16px;
  padding: 12px 15px;
  display: block;
  width: 100%;
  border: 1px solid #0d6efd;
  border-radius: 4px 4px 0 0;
}
input:hover {
  border-color: #0d6efd;
}
input:focus,
textarea:focus {
  outline: none;
  border: 1px solid #0d6efd;
  background: #ffffff;
}
input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -8px;
  font-size: 12px;
  color: #0d6efd;
  left: 11px;
  background: #ffffff;
}
.verified input:focus ~ label,
.verified input:valid ~ label,
.verified textarea:focus ~ label,
.verified textarea:valid ~ label {
  color: #198754;
}
input:focus ~ .bar:before,
textarea:focus ~ .bar:before {
  width: 320px;
}

input[type='password'] {
  letter-spacing: 0.3em;
}
.group,
.content-input-group {
  position: relative;
  margin-bottom: 24px;
}
.group:last-child,
.content-input-group:last-child {
  margin-bottom: 0;
}
label {
  font-family: 'Montserrat', sans-serif;
  color: #c6c6c6;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  transition: 300ms ease all;
  padding: 0 4px;
  top: 12px;
}
.group label {
  left: 15px;
}
.content-input-group label {
  left: 35px;
}
.check-icon {
  display: none;
  position: absolute;
  top: 15px;
  right: -23px;
}
.verified .check-icon {
  display: block;
}
.custom-input-group {
  display: flex;
  background-color: #eff0f2;
  border-radius: 4px 4px 0 0;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #bdc4;
}
.custom-input-group:hover {
  border-color: #0d6efd;
}
.selected .custom-input-group {
  border: 1px solid #0d6efd;
  background: #ffffff;
}
.input-group-icon {
  padding: 11px 12px;
}
.custom-input-group input {
  border: 0;
}
.selected label {
  top: -12px;
  font-size: 12px;
  color: #0d6efd;
  left: 11px;
  background: #ffffff;
}
.custom-input-group button {
  border: 0;
  background: transparent;
  padding: 0 12px;
}
.verified .custom-input-group {
  border: 1px solid #198754;
}
.verified.selected label {
  color: #198754;
}
/* --- end custom input --- */

/* --- onboarding modal --- */
.custom-modal-header {
  padding: 16px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custom-modal-header .modal-title {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #232426;
}
.custom-modal-footer {
  padding: 12px 48px 24px;
}
.custom-pills {
  width: 162px;
  margin: 0 auto;
}
.steps.nav-pills .nav-item .nav-link {
  padding: 0 !important;
  height: 25px;
  width: 25px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  background-color: #dee1e5;
  color: #bdc4ca;
}
.steps.nav-pills .nav-item .nav-link.active {
  color: #ffffff;
  background-color: #0d6efd;
}
.steps.nav-pills .separator {
  width: 43px;
  height: 2px;
  background-color: #dee1e5;
}
.steps.nav-pills .separator.active {
  background-color: #0d6efd;
}
.custom-modal-body {
  padding-top: 24px;
}
.content-input {
  padding: 24px 60px;
}
.small {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: #232426;
}
.small span {
  color: #0d6efd;
}
.group .small,
.content-input-group .small {
  padding: 4px 0 0 12px;
}
/* --- onboarding modal --- */

/* ---search input --- */
.header-search-bar {
  background-color: #eff0f2;
  border-radius: 5px;
  margin-left: 40px;
}

.header-search-bar:focus {
  outline: #0d6efd !important;
}

.header-search-icon {
  margin-top: 12px;
  width: 17px;
  height: 17px;
}

.header-input {
  border: 0;
  outline: 0;
  width: 100%;
  height: 40px;
  background-color: transparent;
}

.header-input:focus {
  outline: none !important;
}

.header-input::placeholder {
  /* font-family: 'Montserrat'; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #8a9197;
}

.search-blue {
  cursor: pointer;
  filter: invert(47%) sepia(100%) saturate(6034%) hue-rotate(214deg)
    brightness(109%) contrast(102%); /* #0D6EFD; */
}
/* ---end search input --- */

/* --- cart bar --- */
.title-cartbar {
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  padding: 12px 12px 24px 24px;
}
.title-cartbar .badge {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  line-height: 4px;
  background-color: #ffba07;
  color: #332501;
}
.cart-icon {
  display: none;
}
.cart-icon.active {
  display: block;
}
.empty-cart {
  padding: 0 24px;
}
.empty-cart p {
  margin: 24px 0;
}
.full-cart {
  padding: 12px 0;
}
.group-cart-item {
  padding: 12px 0;
}
.cart-item {
  padding: 0 8px;
  margin-bottom: 12px;
}
.actions .btn {
  padding: 0 12px 0 0;
}
.actions .btn:last-child {
  padding: 0;
}
.cart-card {
  margin-bottom: 12px;
}
.cart-card .item-info {
  margin-left: 12px;
  padding-left: 12px;
  border-left: 1px solid #dee1e5;
}
.cart-card .item-info .name,
.cart-card .item-info .cost {
  color: #0d6efd;
  font-family: 'Roboto', sans-serif;
}
.cart-card .item-info .name {
  font-size: 16px;
  font-weight: 600;
}
.cart-card .item-info .category,
.cart-card .item-info .attribute {
  color: #232426;
  font-family: 'Montserrat', sans-serif;
}
.cart-card .item-info .category {
  font-size: 14px;
  font-weight: 300;
}
.cart-card .item-info .attribute {
  font-size: 12px;
}
.cart-card .item-info .cost {
  font-size: 18px;
  font-weight: 600;
}
.cart-item .counter {
  width: 180px;
}
.footer-cart {
  padding: 24px;
}
.footer-cart .subtotal {
  text-align: right;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-bottom: 36px;
}
.subtotal span {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
/* --- end cart bar --- */

/* --- custom counter input --- */
.counter {
  background-color: #eff0f2;
  border-radius: 4px;
  display: flex;
  padding: 13px 12px;
  justify-content: space-between;
  align-items: center;
}
.numeric-input {
  border: 0;
  outline: 0;
  width: 100%;
  height: 24px;
  background-color: transparent;
  padding: 0px 5px;
  text-align: center;
}
.counter .btn-counter {
  border: 0;
  background: #f9f9f9;
  border-radius: 4px;
  width: 24px;
  height: 24px;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
    0px 1px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* --- end custom counter input --- */

.outline-none {
  border: none;
  background: transparent;
}
/* --- custom col 7 --- */
.col-custom-7 {
  flex: 0 0 auto;
  width: 14.2857143%;
}
/* --- end custom col 7 --- */

/* --- carousel swiperjs*/
.swiper {
  width: 100%;
  height: 336px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.default-card {
  min-height: 321px;
  max-height: 330px;
  height: 100%;
}
.carousel-next,
.carousel-prev {
  background: #f9f9f9;
  opacity: 1;
  width: 32px;
  height: 64px;
  top: 38%;
}
.carousel-next {
  border-radius: 4px 0 0 4px;
  box-shadow: -3px 1px 3px 0px rgb(0 0 0 / 15%);
}
.carousel-prev {
  left: 5px;
  border-radius: 0px 4px 4px 0px;
  box-shadow: 3px 1px 3px 0px rgb(0 0 0 / 15%);
}
.carousel-next,
.carousel-prev {
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  color: #fff;
  text-align: center;
  border: 0;
  transition: opacity 0.15s ease;
}
.carousel-next {
  right: 0;
}
.carousel-prev {
  left: 0;
}
/* --- carouselTypeTwo --- */

.carouselTypeTwo .card .wrap-img {
  background: linear-gradient(180deg, rgba(3, 22, 51, 0) 0%, #031633 100%);
  background-blend-mode: darken;
  width: 100%;
  height: 100%;
  position: absolute;
}
.carouselTypeTwo .card {
  height: 320px;
}
.carouselTypeTwo .card-img {
  height: 100%;
}
.carouselTypeTwo .name,
.carouselTypeTwo .points {
  color: #ffffff;
}
.carouselTypeTwo .card-body {
  text-align: left;
  position: absolute;
  bottom: 0;
}
.carouselTypeTwo .card .card-body .points {
  margin: 0;
}
.swiper-button-lock {
  display: none;
}
/* --- end carouselTypeTwo --- */
/* --- carouselTypeThree --- */
#other-category .wrap-img {
  background: linear-gradient(
    90deg,
    rgba(13, 110, 253, 0) 74.04%,
    #0d6efd 92.88%
  );
  background-blend-mode: darken;
  height: 100%;
}
#other-category .content-img {
  position: relative;
}
#other-category .content-main {
  background-position: 0 center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 27px 0;
}
#other-category .content-swiper {
  background-color: #0d6efd;
  padding: 27px 21px 27px 10px;
}
#other-category .card {
  min-height: 307px;
  height: 307px;
  max-height: 307px;
}
#other-category .swiper {
  height: auto;
}
.image-category {
  height: 361px;
  padding-right: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
/* --- end carouselTypeThree --- */
/* --- carouselTypeFour --- */
#all-campaigns .card {
  border-radius: 4px;
}
#all-campaigns .content-card {
  background-color: #f9f9f9;
  box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15),
    0px 1px 2px rgba(0, 0, 0, 0.3);
  height: 314px;
}
#all-campaigns .content-card .name {
  color: #232426;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  margin: 20px 0;
}
#all-campaigns .content-card .card-body .card {
  background-color: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 2px 6px 2px rgba(0, 0, 0, 0.15);
}
#all-campaigns .content-card .card-body {
  padding: 0 8px;
}
#all-campaigns .content-card .card-body .card .card-body {
  text-align: center;
  padding: 12px 3px 8px;
}
#all-campaigns .content-card .wrap-img {
  height: 90px;
}
#all-campaigns .content-card .wrap-img img {
  width: 100%;
  height: 90px;
  object-fit: contain;
}
#all-campaigns .content-card .card-body .card .points {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
}
#all-campaigns .content-card .card-body .card img {
  width: 100%;
  height: 75px;
  object-fit: contain;
}
#all-campaigns .swiper {
  height: 316px;
}
.carouselTypeFour {
  padding: 0 0 5px 0;
}
.see-products {
  margin-top: 26px;
  margin-bottom: 6px;
}
.see-products a {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
/* --- end carouselTypeFour --- */
/* --- end carousel swiperjs*/
