.list-products-checkout {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.products-checkout {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.checkout-item {
  padding: 12px 3px 12px 12px;
  width: 438px;
}
.checkout-item .cart-card .item-image {
  width: 100px;
}
.checkout-item .cart-card .item-image img {
  width: 100%;
  height: 79px;
  object-fit: contain;
}
.checkout-item .quantity {
  display: flex;
  justify-content: end;
}
.checkout-item .quantity .counter {
  width: 180px;
}
.checkout-item .cart-card .item-info {
  margin-left: 14px;
  padding-left: 26px;
}

/*
on class "numeric-input" change height value to 24px;
*/
