/* --- breadcrumb --- */
.breadcrumb {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
}
.breadcrumb .breadcrumb-item a {
  color: #8a9197;
}
.breadcrumb .breadcrumb-item.active {
  color: #0d6efd;
}
/* --- end breadcrumb --- */
/* --- custom pills tab --- */
.custom-pills-tab .nav-link {
  height: 36px;
  padding: 7px 20px;
  border-radius: 25px;
  font-size: 12px;
}
.custom-pills-tab .nav-link:disabled {
  background-color: #dee1e5;
  color: #bdc4ca;
}
/* --- end custom pills tab --- */

/* --- order card --- */
.detail-content-item {
  margin-bottom: 60px;
}
.detail-content .content-header {
  margin-bottom: 38px;
}
.detail-content .title-header h6 {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 13px;
}
.detail-content .title-header p {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 0;
}
.detail-content .detail-links .title-header {
  margin-right: 30px;
}
.order-card .img-card {
  max-width: 100%;
  height: 199px;
  object-fit: contain;
}
.order-card {
  background-color: #f9f9f9;
  padding: 36px 24px;
  margin: 0 77px;
}
.card-detail,
.card-date {
  margin-left: 18px;
  border-left: 1px solid #dee1e5;
  padding: 26px 18px;
}
.card-detail h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 12px;
}
.card-detail p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 24px 0;
}
.card-detail .content-buttons {
  width: 400px;
}
.card-date .date p {
  margin: 0;
}
.card-date .date {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 34px;
}
.card-date .btn-link {
  text-decoration: none;
}
.content-item-group .group-item {
  margin-bottom: 36px;
}
.content-item-group .group-item:last-child {
  margin-bottom: 0px;
}
/* --- end order card --- */

/* --- tags --- */
.tag {
  border-radius: 25px;
  font-size: 12px;
  width: fit-content;
  font-family: 'Montserrat', sans-serif;
}
.tag-info {
  color: #121212;
  background-color: #9ec5fe;
}
.tag-sm {
  padding: 2px 8px;
}
/* --- end tags --- */

/* --- btn --- */
.btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
.btn-outline-secondary {
  color: #6f42c1;
  border-color: #6f42c1;
}
.btn-secondary {
  background-color: #6f42c1;
}
/* --- end btn --- */

.title-page {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 700;
}
.content-filter {
  margin-bottom: 42px;
}

/* --- v-divisor --- */
.v-divisor {
  min-height: 33px;
  height: 100%;
  width: 1px;
  background: #232426;
}
/* --- end v-divisor --- */

/* --- paginator --- */
.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.paginator .label {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #232426;
}
.paginator .content-buttons {
  display: flex;
  gap: 5px;
}
.paginator .btn-paginator {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  border-color: #f9f9f9;
  border-width: 1px;
  border-style: solid;
  background: #f9f9f9;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #232426;
  height: 25px;
  width: 25px;
  padding: 1px;
}
.paginator .btn-paginator:disabled {
  background-color: #dee1e5;
  color: #bdc4ca;
  border-color: #dee1e5;
}
.paginator .btn-paginator.active {
  color: #0d6efd;
  border-color: #0d6efd;
}
/* --- end paginator --- */
/* --- datepicker --- */
.input-daterange .group {
  margin-bottom: 0;
}
.calendar-chev {
  height: 15px;
}
.calendar-chev-left {
  background: url('../images/icons/dp_chev_left.svg') no-repeat;
  background-position: left center;
}
.calendar-chev-right {
  background: url('../images/icons/dp_chev_right.svg') no-repeat;
  background-position: right center;
}
.prev {
  padding-left: 8px;
}
.next {
  padding-right: 8px;
}
.input-daterange {
  display: flex;
  justify-content: start;
  gap: 15px;
  position: relative;
}
.content-input-dp {
  background-color: #eff0f2;
  padding: 17px 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #bdc4ca;
  border-radius: 4px 4px 0 0;
}
.content-input-dp img {
  opacity: 0.3;
}
.content-input-dp:hover {
  border-color: #0d6efd;
}
.input-daterange input {
  background-color: transparent;
  border: none;
  font-size: 16px;
  padding: 0;
  text-align: left;
}

.input-daterange input:focus {
  outline: none;
}

.datepicker-dropdown {
  margin-top: 24px;
}

.content-input-dp label {
  top: 18px;
  left: 12px;
}
.content-input-dp.selected {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #232426;
}
.content-input-dp.selected img {
  opacity: 1;
}
.content-input-dp.selected label {
  top: -8px;
  font-size: 10px;
  color: #232426;
  left: 11px;
  background: #ffffff;
}
.datepicker {
  padding: 0;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  width: 300px;
}
.datepicker table {
  width: 100%;
}
.datepicker-days,
.datepicker-months,
.datepicker-years {
  color: #232426;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 300;
  padding: 0;
}
.datepicker-months table thead tr:last-child,
.datepicker-years table thead tr:last-child {
  border-bottom: 1px solid #bdc4ca;
}
.datepicker-days table thead tr:last-child {
  border-top: 1px solid #bdc4ca;
}
.datepicker-days table tbody,
.datepicker-months table tbody,
.datepicker-years table tbody {
  border-bottom: 1px solid #bdc4ca;
}
.datepicker-days table tbody tr td {
  padding: 10px 10px;
}
.datepicker-months table thead tr:last-child th,
.datepicker-years table thead tr:last-child th {
  padding: 16px 0px;
}
.datepicker-months table thead tr:last-child th:first-child,
.datepicker-months table tbody tr td:first-child,
.datepicker-years table thead tr:last-child th:first-child,
.datepicker-years table tbody tr td:first-child {
  padding-left: 10px;
}
.datepicker-days table thead tr:last-child th {
  padding: 16px 10px;
}
.datepicker-days table thead tr:last-child th:first-child,
.datepicker-days table tbody tr td:first-child {
  padding-left: 20px;
}
.datepicker-months table thead tr:last-child th:last-child,
.datepicker-months table tbody tr td:last-child,
.datepicker-years table thead tr:last-child th:last-child,
.datepicker-years table tbody tr td:last-child {
  padding-right: 10px;
}
.datepicker-days table thead tr:last-child th:last-child,
.datepicker-days table tbody tr td:last-child {
  padding-right: 20px;
}
.datepicker-days table thead tr:nth-child(2) th {
  padding-top: 12px;
  padding-bottom: 12px;
}
.datepicker table tr td.new,
.datepicker table tr td.old {
  color: #8a9197;
}
.datepicker table tr td.today {
  background: none;
  color: #0d6efd;
}
.datepicker table tfoot tr th {
  padding: 12px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #0d6efd;
}
.datepicker table tr td span {
  height: 25px;
  margin: 12px 2.8px;
  font-size: 14px;
  line-height: 22px;
}
.datepicker table tr td span.focused,
.datepicker table tr td span:hover {
  background-color: #0d6efd;
  color: #ffffff;
}
.datepicker .datepicker-switch:hover,
.datepicker .next:hover,
.datepicker .prev:hover,
.datepicker tfoot tr th:hover {
  background: none;
}
.datepicker table tr td.range.today {
  background: #eee;
}
.datepicker table tr td.active.active {
  background: #0d6efd;
}
.datepicker table tr td.today:hover:hover {
  background: none;
}
.datepicker table tr td.today:hover:hover {
  color: #0d6efd;
}
.datepicker table tr td.active {
  color: #ffffff;
}
/* --- end datepicker --- */
